div.cq-header {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 200%;
  font-style: bold;
  color: #333;
  margin: 18px 0;
}

div.cq-header.philo {
  background-color: #FFB6C1;
}

div.cq-header.nikki {
  background-color: #EEE8AA;
}

div.cq-header.pamela {
  background-color: #D8BFD8;
}

div.cq-header.flay {
  background-color: #CD5C5C;
}

div.cq-header.roxis {
  background-color: #F0E68C;
}

div.cq-header.anna {
  background-color: #ADD8E6;
}

div.cq-header.muppy {
  background-color: #B0C4DE;
}