.cq {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 200%;
  font-style: bold;
  color: #333;
  margin: 18px 0;
}

.cq#philo {
  background-color: #FFB6C1;
}

.cq#nikki {
  background-color: #EEE8AA;
}

.cq#pamela {
  background-color: #D8BFD8;
}

.cq#flay {
  background-color: #CD5C5C;
}

.cq#roxis {
  background-color: #F0E68C;
}

.cq#anna {
  background-color: #ADD8E6;
}

.cq#muppy {
  background-color: #B0C4DE;
}