.cq {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 200%;
  font-style: bold;
  color: #333;
  margin: 18px 0;
}

button.cq-vayne {
  background-color: #A0C5D7;
}

.cq-vayne td.even {
  background-color: #A0C5D7;
}

button.cq-philo {
  background-color: #FFB6C1;
}

.cq-philo td.even {
  background-color: #FFB6C1;
}

button.cq-nikki {
  background-color: #EEE8AA;
}

.cq-nikki td.even {
  background-color: #EEE8AA;
}

button.cq-pamela {
  background-color: #D8BFD8;
}

.cq-pamela td.even {
  background-color: #D8BFD8;
}

button.cq-flay {
  background-color: #CD5C5C;
}

.cq-flay td.even {
  background-color: #CD5C5C;
}

button.cq-roxis {
  background-color: #F0E68C;
}

.cq-roxis td.even {
  background-color: #F0E68C;
}

button.cq-anna {
  background-color: #ADD8E6;
}

.cq-anna td.even {
  background-color: #ADD8E6;
}

button.cq-muppy {
  background-color: #B0C4DE;
}

.cq-muppy td.even {
  background-color: #B0C4DE;
}

td.cqe-icon {
  width: 85px;
  border: 0pt 0pt 1pt 0pt;
}

td.cqe-dialogue {
  width: auto;
  border: 0pt 0pt 1pt 0pt;
}

td.cqe-stage-dir {
  width: auto;
  font-style: italic;
  border: 0pt 0pt 1pt 0pt;
}