body {
    background-color: #333;
    color: #ddd;
}

h1 {
    font-size: 42px;
}

.title {
    font-family: Tangerine, serif;
    font-style: italic;
    padding: 18px;
}

.title.poemtitle {
  background-color: #563d66;
  opacity: 0.3678794412;
  text-align: left;
  border: 1px dashed #ddd;
  padding-left: 50px;
}

span.japanese {
  font-style: normal;
}

.poem {
    font-family: Montserrat, sans-serif;
    font-style: italic;
    display: inline-block;
    padding-left: 50px;
}

.commentary {
  width: 70%;
  font-family: Montserrat, sans-serif;
  font-style: italic;
}

.sidenav {
  height: 100%;
  width: 325px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
}

hr.navdivider {
  border-top: 1px dashed #333;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 350px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px; width: 100px;}
  .sidenav a {font-size: 12px;}
}

ul#poemlist {
    columns: 2;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a:link, a:visited {
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }

.quotation {
  padding: 5px;
  margin-left: 10px;
  background-color: #333;
  max-width: 90%;
}

.quotation.homura {
  color: #855996;
}

.quotation.madoka {
  color: #f039fa;
}

.quotation.anna {
  color: #bd3a6f;
}

.quotation.elsa {
  color: #6bdbd0;
}

.highlight {
  padding: 3px;
  width: 100%;
}

div.highlight {
  font-size: 80%;
}

.highlight.red {
  background-color: rgba(250, 57, 57, 0.25);
}

.highlight.orange {
  background-color: rgba(255, 121, 54, 0.25);
}

.highlight.yellow {
  background-color: rgba(252, 247, 134, 0.25);
}

.highlight.green {
  background-color: rgba(135, 199, 86, 0.25);
}

.highlight.cyan {
  background-color: rgba(151, 252, 229, 0.25);
}

.highlight.blue {
  background-color: rgba(38, 153, 191, 0.25);
}

.highlight.purple {
  background-color: rgba(157, 77, 255, 0.25);
}

.highlight.pink {
  background-color: rgba(231, 112, 255, 0.25);
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #f4e3ff;
    color: black;
  }

  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* use hoverable tooltips for, e.g., Sí avisí bý commentary*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 700px;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -25px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 25px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 11px;
}