body {
    background-color: #333;
    color: #ddd;
}

h1 {
    font-size: 42px;
}

.title {
    font-family: Tangerine, serif;
    font-style: italic;
    padding: 18px;
    text-align: center;
}

.title.poemtitle {
  background-color: #563d66;
  opacity: 0.3678794412;
  text-align: left;
  border: 1px dashed #ddd;
  padding-left: 50px;
}

span.japanese {
  font-style: normal;
}

.poem {
    font-family: Montserrat, sans-serif;
    font-style: italic;
    display: inline-block;
    padding-left: 50px;
}

.sidenav {
  height: 100%;
  width: 325px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
}

hr.navdivider {
  border-top: 1px dashed #333;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 350px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px; width: 100px;}
  .sidenav a {font-size: 12px;}
}
